

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  .table-flex-container {
    display: flex;
    width: 35%; 
    min-width: 620px; 
    flex-direction: column;
  }

  .H-flex-container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
    justify-content: flex-start;

  }

  .mat-Multi-field {
    height: 100%;
    min-height: 500px;
    width: 100%;
  }

  .mat-tabs  {
    height: 100%;
    min-height: 600px;
    width: 60%;
  }
  
